python-dotenv
pydantic
supabase

openai
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
chromadb
sentence-transformers
numpy==1.26.4
ollama
openpyxl

PySide6

langchain-postgres==0.0.14
psycopg[binary,pool]>=3.2,<4
python-dotenv>=1.0,<2